[*.cs]

# IDE0305: Simplify collection initialization
dotnet_diagnostic.IDE0305.severity = none

# IDE0032: Use auto property
dotnet_diagnostic.IDE0032.severity = none

# IDE0200: Remove unnecessary lambda expression
dotnet_diagnostic.IDE0200.severity = none

# IDE0270: Use coalesce expression
dotnet_diagnostic.IDE0270.severity = none

# IDE0290: Use primary constructor
dotnet_diagnostic.IDE0290.severity = none

# CS8524: The switch expression does not handle some values of its input type (it is not exhaustive) involving an unnamed enum value.
dotnet_diagnostic.CS8524.severity = none
